<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <system.net>
    <mailSettings>
      <smtp from="no-reply@betabytesoftware.com">
        <network host="127.0.0.1" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>